#menu {
    background: url('https://drive.google.com/thumbnail?id=1gyD88LiQW2mtos5JNgB4RnV-v675RVEu');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}