<div class="grid grid-cols-8 h-screen">
    <div class="col-span-3 border flex flex-col justify-between px-4 py-1">
        <div>
            <p>Character Selection</p>
            <div class="grid grid-cols-4 gap-2">
                <div *ngFor="let character of _characters" class="border ">
                    <p>{{character.name}}</p>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="border rounded-full px-4 py-2">filter</div>
            <div class="border rounded-full px-4 py-2 w-full mx-2">Level</div>
            <div class="border rounded-full px-4 py-2">order</div>
        </div>
    </div>
    <div class="col-span-3 border">CHARACTER VIEW</div>
    <div class="col-span-2 border">CHARACTER STATS</div>
</div>
