#banner {
    background-image: url("../../../assets/images/background_shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#card {
    background-image: url("../../../assets/images/background_shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}