#banner {
    background-image: url("https://drive.google.com/thumbnail?id=1phAg12py9FALsA2Dy03a2WZmu8SfERzY");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#card {
    background-image: url("https://drive.google.com/thumbnail?id=1phAg12py9FALsA2Dy03a2WZmu8SfERzY");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* 
https://drive.google.com/file/d/1YZ10hMFnso7ToJjUhPVaGGyNw8cYI_9i/view?usp=drive_link
https://drive.google.com/file/d/17bvm328gccF9PPSj1WiHW8MVeyzypohL/view?usp=drive_link
https://drive.google.com/file/d/1Yxfi0eKe4tyYItfE9CCmMqlB6-ht6s4P/view?usp=drive_link
https://drive.google.com/file/d/1NoqZEhY6xSoBErt6wCGe3VMe0V5M661E/view?usp=drive_link

https://drive.google.com/file/d/1MMTL8VLkiPRW79AAsF_9k0LQd4eZdwhr/view?usp=drive_link
https://drive.google.com/file/d/1An8jx2yptCxRSuIIz_YFPpt4qXxeyVD6/view?usp=drive_link
https://drive.google.com/file/d/19zEKsoVbR89kV7C_0Wpx9zWmRZWQJzCb/view?usp=drive_link
https://drive.google.com/file/d/1SxlIgegWMQU6l05taHWpjjFPwJY6Z4oW/view?usp=drive_link */