<div id="banner" class="h-screen relative">
    <div class="h-full w-full absolute bg-[rgba(0,0,0,0.2)]"></div>
    <div *ngIf="_banners!=null" class="h-full flex flex-col justify-between relative">

        <div class="flex items-center justify-between py-4 px-8 z-10">
            <div ></div>
            <div class="flex">
                <div *ngFor="let banner of _banners" class="">
                    <div (click)="selectBanner(banner)" class="bg-white shadow border h-16 w-28 hover:cursor-pointer mr-4">
                    <img src="../../../assets/images/characters/splashart/{{banner.characters[0].name}}.webp" class="size" alt="">
                    </div>
                </div>
            </div>

            <div class="bg-gray-600 rounded-full flex items-center justify-around text-gray-200 px-4">
                <span id="wish"><img src="../../../assets/images/menu/icons/wish.webp" class="h-10" alt=""> </span>
                <p class="font-bold text-lg">{{_pulls}}</p>
            </div>
        </div>
        <!--BANNER CONTAINER -->
        <div class="flex lg:h-2/3 md:h-2/5 items-center justify-center relative">
            <div class="border h-full lg:w-3/5 md:w-4/6 grid grid-cols-2 px-12 py-8 overflow-hidden relative">
                <div class="bg-red-700 absolute z-0 size-full">
                    <div class="bg-white h-full w-1/2 absolute z-10"></div>
                    <div class="bg-white rounded-full h-96 w-96 absolute -bottom-2 right-24 z-10"></div>
                    <img src="../../../assets/images/background/background_banner.png" alt="" class="relative size-full"> BANNER BACKGROUND
                </div>
                <!-- <img src="../../../assets/images/characters/splashart/{{_selected_character?.name}}.webp" alt="" class="border border-green-600 absolute z-10 self-center"> SELECTED CHARACTER BACKGROUND -->
                
                <!--BANNER CONTENT -->

                <!-- BANNER CHARACTERS -->
                <div class="absolute size-full">
                    <div class="relative">
                        <img class="h-64 absolute top-0 -right-48" src="../../../assets/images/characters/splashart/{{getT4()[0].name}}.webp" alt="">
                        <img class="h-64 absolute top-16 -right-48" src="../../../assets/images/characters/splashart/{{getT4()[1].name}}.webp" alt="">
                        <img class="h-64 absolute top-40 -right-48" src="../../../assets/images/characters/splashart/{{getT4()[2].name}}.webp" alt="">
                    </div>

                    <div class="flex items-center justify-center relative z-10">
                        <img class="size-full" src="../../../assets/images/characters/splashart/{{getT5()[0].name}}.webp" alt="">
                    </div>
                    
                    
                </div>
                <!-- BANNER TEXT -->
                <div></div>

                <!--BANNER CONTENT END -->
            </div>
        </div>
        <!--BANNER CONTAINER END-->

        <div class="flex items-center justify-between px-10 py-8">
            <div class="text-gray-500 font-bold">
                <button class="bg-white border py-1 px-2 w-36 rounded-full mr-2">Shop</button>
                <a href="">
                    <button class="bg-white border py-1 px-2 w-36 rounded-full mr-2">Details</button>
                </a>
                <a href="">
                    <button class="bg-white border py-1 px-2 w-36 rounded-full mr-2">History</button>
                </a>
            </div>
            <button (click)="pull(_selected_banner!.id!)" class="border font-semibold text-yellow-700 bg-white py-3 px-2 w-64 rounded-full mr-2 text-lg">Wish 1x</button>
            <button (click)="pull10(_selected_banner!.id!)" class="border font-semibold text-yellow-700 bg-white py-3 px-2 w-64 rounded-full mr-2 text-lg">Wish 10x</button>
        </div>

        <div id="card" (click)="dismiss()" *ngIf="_showCard" class="absolute h-screen w-full z-20">
            <div class="flex items-center justify-center h-full bg-[rgba(0,0,0,0.5)]">
                <div class="absolute h-full w-full opacity-0"></div>
                <app-pull-card [characters]="_pull_character" [weapons]="_pull_weapon"></app-pull-card>
            </div>
        </div>
    
    </div>
    <div class="flex flex-col items-center right-10 top-1/2 text-gray-100 font-semibold absolute">
        <p class="text-blue-50 text-sm mb-2">Functions menu</p>
        <a href="/login"><button class="border py-1 px-2 w-36 rounded-full mb-2 hover:border-white hover:text-white">Login</button></a>
        <a href="/create-banner"><button class="border py-1 px-2 w-36 rounded-full mb-2 hover:border-white text-white">Create Banner</button></a>
        <a href="/user-details"><button class="border py-1 px-2 w-36 rounded-full mb-2 hover:border-white text-white">User Details</button></a>
        <a href="/character-selection"><button class="border py-1 px-2 w-36 rounded-full mb-2 hover:border-white text-white">Characters</button></a>
    </div>
    
</div>