<div id="create-banner" class="h-screen w-full flex items-center justify-center">
    <div class="bg-white min-h-36 w-1/3 flex flex-col px-4 py-6 rounded">
        <input #name type="text" placeholder="Banner name" (input)="setName(name.value)" class="mb-4 p-2 placeholder-gray-300 text-gray-500 focus:outline-none bg-none">
        <div *ngFor="let c of _banner.characters" >
            <div class=" flex mb-4 text-gray-400 border py-2 px-4 rounded">
                <img src="https://lh3.googleusercontent.com/d/{{c.url_icon}}" alt="" class="size-8 mr-4">
                <p>{{c.name}}</p>
            </div>
        </div>
        <select #characters name="characters" id="lelectCharacters" (change)="selectCharacter(characters.value)"
        class="mb-4 text-gray-400 border py-2 px-4 rounded">
            <option default>Select a character</option>
            <option *ngFor="let c of _characters" value="{{c.name}}" class="text-gray-400 border py-2 px-4 rounded">{{c.name}}</option>
        </select>
        <button (click)="saveBanner()" class="bg-white border py-1 px-2 w-36 rounded-full mr-2 text-gray-500 font-semibold">Create Banner</button>
    </div>
</div>