<div id="create-banner" class="h-screen">
    <input #name type="text" placeholder="name" (input)="setName(name.value)">
    <div *ngFor="let c of _banner.characters" >{{c.name}}</div>
    <select #characters name="characters" id="lelectCharacters" (change)="selectCharacter(characters.value)">
        <option default>Select a character</option>
        <option *ngFor="let c of _characters" value="{{c.name}}">{{c.name}}</option>
    </select>
    <button (click)="saveBanner()">save</button>
</div>